header {
    padding: 20px;
    
    background: rgb(174, 201, 134);
    font-size: 40px;
}


#title {
    text-align: center;
}


footer {
    background-color: #99BC76;
    height: 55px;
}

.contact {
    padding: 13px;
} 

.email {
    position: absolute;
}

.facebook {
    position: absolute;
    float: left;
    padding-left: 50px;
}

.instagram {
    position: absolute;
    padding-left: 100px;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    margin: 10px;
    padding: 20px;
    width: auto;
    
}



