

header {
    padding: 20px;
    
    background: rgb(255, 238, 109);
    font-size: 40px;
}


#title {
    display: relative;
    float: left;
    width: 500px;
}

.map-container {
    padding: 20px;
}

#map {
    position: relative;
    width: 95%;
    height: 500px;
    align-content: center; 
    margin: 20px;
}

main {
    background: rgb(91, 204, 91);
}

input.cityInput {
    border-radius: 15px;
}

input.cuisineInput {
    border-radius: 15px;
}

button.button.search.Btn {
    border-radius: 15px;
}

.restName {
    font-size: 18px;
    font-weight: bold;
}

.results {
    float: left;
}

.card.restaurant {
    height: 10%;
    border-radius: 20px;
}

.restaurant:hover {
    border: solid red;
}

.top5picks {
    color: crimson;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background: rgb(255, 238, 109);
    border-radius: 10px;
}

.menu {
    line-height: 3;
}

footer {
    /* background-color: #99BC76; */
    background-color: rgb(255, 238, 109);
    height: 50px;
    margin-bottom: 0px;
}

.contact {
    padding: 13px;
} 

.email {
    position: absolute;
}

.facebook {
    position: absolute;
    float: left;
    padding-left: 50px;
}

.instagram {
    position: absolute;
    padding-left: 100px;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}